.title {
    text-align: center;
    font-size: 40px;
}

body {
    background-color: black;
}

.magmax-box {
    border-radius: 16px;
    background-color: rgb(71, 0, 0);
    border: 6px solid rgb(255, 84, 84);
}

.magmax {
    color: rgb(255, 84, 84);
}

.ability {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    padding-left: 60px;
}

.text {
    font-size: 20px;
}

.rime-box {
    border-radius: 16px;
    background-color: rgb(0, 14, 71);
    border: 6px solid rgb(168, 194, 255);
}

.rime {
    color: rgb(168, 194, 255);
}

.morfe-box {
    border-radius: 16px;
    background-color: rgb(1, 71, 0);
    border: 6px solid rgb(84, 255, 132)
}

.morfe {
    color: rgb(84, 255, 132);
}

.aurora-box {
    border-radius: 16px;
    background-color: rgb(71, 41, 0);
    border: 6px solid rgb(255, 157, 71);
}

.aurora {
    color: rgb(255, 157, 71);
}

.necro-box {
    border-radius: 16px;
    background-color: rgb(61, 0, 71);
    border: 6px solid rgb(236, 96, 255);
}

.necro {
    color: rgb(236, 96, 255);
}

.brute-box {
    border-radius: 16px;
    background-color: rgb(79, 36, 0);
    border: 6px solid rgb(188, 88, 0);
}

.brute {
    color: rgb(188, 88, 0);
}

.nexus-box {
    border-radius: 16px;
    background-color: rgb(0, 71, 62);
    border: 6px solid rgb(41, 255, 198);
}

.nexus {
    color: rgb(41, 255, 198);
}

.shade-box {
    border-radius: 16px;
    background-color: rgb(63, 49, 49);
    border: 6px solid rgb(188, 147, 147); 
}

.shade {
    color: rgb(188, 147, 147);
}

.euclid-box {
    border-radius: 16px;
    background-color: rgb(45, 37, 49);
    border: 6px solid rgb(174, 137, 185);
}

.euclid {
    color: rgb(174, 137, 185);
}

.chrono-box {
    border-radius: 16px;
    background-color: rgb(0, 76, 49);
    border: 6px solid rgb(0, 216, 133);
}

.chrono {
    color: rgb(0, 216, 133);
}

.reaper-box {
    border-radius: 16px;
    background-color: rgb(33, 40, 48);
    border: 6px solid rgb(198, 213, 239);
}

.reaper {
    color: rgb(198, 213, 239);
}

.rameses-box {
    border-radius: 16px;
    background-color: rgb(92, 96, 48);
    border: 6px solid rgb(200, 204, 93);
}

.rameses {
    color: rgb(200, 204, 93);
}

.jolt-box {
    border-radius: 16px;
    background-color: rgb(150, 150, 9);
    border: 6px solid rgb(255, 255, 28);
}

.jolt {
    color: rgb(255, 255, 28);
}

.cent-box {
    border-radius: 16px;
    background-color: rgb(150, 150, 150);
    border: 6px solid rgb(232, 232, 232);
}

.cent {
    color: rgb(232, 232, 232);
}

.jotunn-box {
    border-radius: 16px;
    background-color: rgb(23, 59, 71);
    border: 6px solid rgb(79, 203, 255);
}

.jotunn {
    color: rgb(79, 203, 255);
}

.candy-box {
    border-radius: 16px;
    background-color: rgb(99, 49, 73);
    border: 6px solid rgb(255, 178, 215);
}

.candy {
    color: rgb(255, 178, 215);
}

.ghoul-box {
    border-radius: 16px;
    background-color: rgb(99, 131, 142);
    border: 6px solid rgb(213, 233, 242);
}

.ghoul {
    color: rgb(213, 233, 242);
}

.mirage-box {
    border-radius: 16px;
    background-color: rgb(0, 9, 99);
    border: 6px solid rgb(78, 89, 219);
}

.mirage {
    color: rgb(78, 89, 219);
}