.magmax-box {
    border-radius: 16px;
    background-color: rgb(71, 0, 0);
    border: 6px solid rgb(255, 84, 84);
}

#magmax {
    text-align: center;
    color: rgb(255, 84, 84);
    font-size: 40px;
}

.magmax {
    color: rgb(255, 84, 84);
}

.ability {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    padding-left: 60px;
}

.text {
    font-size: 20px;
}

.rime-box {
    border-radius: 16px;
    background-color: rgb(0, 14, 71);
    border: 6px solid rgb(168, 194, 255);
}

#rime {
    text-align: center;
    color: rgb(168, 194, 255);
    font-size: 40px;
}

.rime {
    color: rgb(168, 194, 255);
}

.morfe-box {
    border-radius: 16px;
    background-color: rgb(1, 71, 0);
    border: 6px solid rgb(84, 255, 132)
}

#morfe {
    text-align: center;
    color:  rgb(84, 255, 132);
    font-size: 40px;
}

.morfe {
    color: rgb(84, 255, 132);
}